<div class="container">

  <header class="site-header">

    <app-menu-bar></app-menu-bar>

    <app-tool-bar></app-tool-bar>

  </header>


  <main class="workspace">

    <!-- ================= LEFT PANEL ================= -->

    <div class="left-panel">

      <app-channel-selection>
      </app-channel-selection>


      <app-import-section>
      </app-import-section>


      <app-display-section>
      </app-display-section>

    </div>


    <!-- ================= PLOT ================= -->

    <div class="plot-area">

      <app-plot-view>
      </app-plot-view>

    </div>

  </main>


  <footer>
  </footer>

</div>
