<div class="tool-bar">

  <div class="toolbar-left">
    <button type="button" class="toolbar-icon-button" title="Options">
      <mat-icon>tune</mat-icon>
    </button>

    <div class="toolbar-divider"></div>

    <div class="toolbar-menu-item">
      <span>Menu Item</span>
      <mat-icon class="menu-arrow">play_arrow</mat-icon>
    </div>

    <button type="button" class="toolbar-icon-button" title="Trigger">
      <mat-icon>bolt</mat-icon>
    </button>

    <div class="toolbar-menu-item">
      <span>Menu Item</span>
      <mat-icon class="menu-arrow">play_arrow</mat-icon>
    </div>

    <div class="toolbar-menu-item">
      <span>Menu Item</span>
      <mat-icon class="menu-arrow">play_arrow</mat-icon>
    </div>

    <button type="button" class="toolbar-icon-button blue-icon" title="Run">
      <mat-icon>play_circle</mat-icon>
    </button>

    <button type="button" class="toolbar-icon-button" title="Upload">
      <mat-icon>drive_folder_upload</mat-icon>
    </button>

    <button type="button" class="toolbar-icon-button" title="Settings">
      <mat-icon>settings</mat-icon>
    </button>
  </div>

  <div class="toolbar-middle">
    <div class="toolbar-divider"></div>

    <button type="button" class="toolbar-icon-button" title="Search">
      <mat-icon>search</mat-icon>
    </button>

    <button type="button" class="toolbar-icon-button" title="Previous">
      <mat-icon>arrow_circle_left</mat-icon>
    </button>

    <button type="button" class="toolbar-icon-button" title="Next">
      <mat-icon>arrow_circle_right</mat-icon>
    </button>
  </div>

  <div class="toolbar-right">
    <div class="toolbar-divider"></div>

    <button type="button" class="toolbar-icon-button" title="Webhook">
      <mat-icon>webhook</mat-icon>
    </button>

    <div class="toolbar-switch">
      <div class="switch-circle"></div>
    </div>
  </div>

</div>
